.should {
    display: none;
}

.navigationBar {
    box-shadow: none;
    background: rgb(239, 83, 80);
    position: fixed;
    top: 0px;
}

.banner {
    width: 100%;
    background: rgb(239, 83, 80);
}